# OSX & OS System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Node.js dependencies & logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
pnpm-debug.log*
.npm/

# Environment variables & local secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# IDEs & Text Editors
.idea/
.vscode/
*.swp
*.swo
*~
*.iml
.project
.settings/
.classpath

# Metro bundler, caches & TypeScript build info
.metro-health-check*
.metro/
.cache/
tmp/
.tmp/
*.tsbuildinfo

# Testing & Coverage
coverage/
.nyc_output/
*.lcov

# Android
build/
.gradle/
local.properties
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/
captures/
.externalNativeBuild/
android/app/build/
android/build/
android/.gradle/
android/.cxx/
android/app/debug/
android/app/release/
android/local.properties

# Xcode & iOS
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local
ios/Pods/
**/Pods/
/vendor/bundle/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Generated Bundles & Binaries
*.jsbundle
*.apk
*.aab
*.app

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
